#logo_frame {
  width: 10.5em;
  background-color: #BEBEBE;
  border-radius: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-top-color: #D1D2D2;
  border-left-color: #D1D2D2;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-right-color: black;
  border-bottom-color: black;
}

#logo {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  height: 8.0em;
  background-color: #545454;
  border-radius: 0.5em;
  border-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-style: solid;
  border-right-color: #373737;
  border-bottom-color: #373737;
  text-align: center;
}

#header_border {
  clear: left
  float: right;
  margin-left: 11.0em;
  border-radius: 0.5em;
  background-color: #D9DEDD;
  border-width: 0px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
}

#header_frame {
  border-radius: 0.5em;
  background-color: #5F5F51;
  border-width: 1px;
  border-style: solid;
  border-top-width: 2px;
  border-left-width: 2px;
  border-top-color: #5F5F51;
  border-left-color: #5F5F51;
  border-bottom-color: #D1D1B5;
  border-right-color: #D1D1B5;
}

#header {
  height: 5.8em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background-color: #9E9E87;
  border-radius: 0.5em;
  border-width: 2px;
  border-style: solid;
  border-top-color: black;
  border-left-color: black;
  border-bottom-color: #DEDEC3;
  border-right-color: #DEDEC3;
  text-align: center;
}

#navigation_frame {
  width: 10.5em;
  margin-top: 0.25em;
  background-color: #BEBEBE;
  border-radius: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-top-color: #D1D2D2;
  border-left-color: #D1D2D2;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-right-color: black;
  border-bottom-color: black;
}

#navigation {
  padding: 0.5em;
  padding-right: 0.1em;
  background-color: #545454;
  border-radius: 0.5em;
  border-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-style: solid;
  border-right-color: #373737;
  border-bottom-color: #373737;
}

#contact_frame_1 {
  width: 10.5em;
  margin-top: 0.25em;
  background-color: #BEBEBE;
  border-radius: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-top-color: #D1D2D2;
  border-left-color: #D1D2D2;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-right-color: black;
  border-bottom-color: black;
}

#contact_frame_2 {
  width: 10.5em;
  margin-top: 0.25em;
  background-color: #BEBEBE;
  border-radius: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-top-color: #D1D2D2;
  border-left-color: #D1D2D2;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-right-color: black;
  border-bottom-color: black;
}

.contact {
  padding: 0.5em;
  padding-right: 0.1em;
  background-color: #545454;
  border-radius: 0.5em;
  border-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-style: solid;
  border-right-color: #373737;
  border-bottom-color: #373737;
  font-size: 83%;
  color: #BEBEBE;
}

/*  border-color: #C0C2AE; */
#content {
  clear: left
  float: right;
  margin-left: 11.0em;
  margin-top: 0.25em;
  padding: 0.5em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 1px;
  border-color: #F0F2DA;
}

.ScreenShot {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.Content1 {
  font-family:Helvetica,sans-serif;
  margin-left:0.5em;
}

.Content2 {
  font-family:Helvetica,sans-serif;
  font-size:80%;
  margin-left:1.5em;
}

#navigation a:link {
  font-family:Arial,sans-serif;
  font-weight:bold;
  color:#E1A83E;
  background-color:#545454;
  text-decoration:none;
}

#navigation a:visited {
  font-family:Arial,sans-serif;
  font-weight:bold;
  color:#E1A83E;
  background-color:#545454;
  text-decoration:none;
}

#navigation a:hover {
  font-family:Arial,sans-serif;
  font-weight:bold;
  color:#6CB7BD;
  background-color:#545454;
  text-decoration:none;
}

#navigation a:active {
  font-family:Arial,sans-serif;
  font-weight:bold;
  color:#6CB7BD;
  background-color:#545454;
  text-decoration:none;
}